:root {
  --accent-color: #2196f3;
  --font-color: #212121;
  --firs-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --section-padding: 94px;
}

body {
  font-family: var(--firs-font);
  background: #e5e5e5;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0;
  width: 1630px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  background: #ffffff;
}

.header .container {
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}
.navigation {
  display: flex;
}

.logo {
  display: flex;
  margin-right: 93px;
}
.navigation-list {
  display: flex;
}
.navigation-list-item {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.address {
  align-items: center;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
}

.address-item {
  display: flex;
}
.address-item:not(:last-child) {
  margin-right: 50px;
}
.address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.logo-studio {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-web {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

/*.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  color: var(--main-color-dark-backgr);
  background-color: var(--accent-color);
  margin-bottom: 200px;
}

/*.hero {
  min-height: 600px;
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 280px;
  justify-content: center;
  align-items: center;*/
} 

.hero .container {
  flex-direction: column;
  background: #2f303a;
  align-items: center;
}

.hero {
/*padding-top: 200px;
padding-bottom: 200px;
background: #2F303A;*/
}

.first-title {
  font-family: var(--firs-font);
  font-weight: 900;	        
        font-size: 44px;	       
        line-height: 1.364;	        
        text-align: center;	       
        letter-spacing: 0.06em;	       
        text-transform: uppercase;	               
        margin-top: 200px;	        
        margin-bottom: 30px;
color: #FFFFFF;
}
.modal-btn {
        font-weight: 500;	        
        font-size: 16px;	        
        line-height: 1.625;	       
        text-align: center;	        
        letter-spacing: 0.03em;	       
        min-width: 200px;	        
        height: 50px;	        
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);	        
        border-radius: 4px;	        
        cursor: pointer;
          padding: 10px 32px;	        
        color: #ffffff;	        
        background-color: var(--accent-color);	        
}
/*.first-title {
  width: 696px;
  height: 120px;
  /*margin: 0;
  font-family: var(--secondary-font);
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}*/

.about-us-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-list {
  padding-top: var(--section-padding);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.about-us-item {
  width: 270px;
  height: 101px;
}

.text {
  margin-bottom: 0;
  width: 270px;
}

.about-us-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: var(--font-color);
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-work .container {
  flex-direction: column;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our-work-list {
  justify-content: center;
}

.secondary-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 50px;
}

.name-item {
  font-family: var(--firs-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.our-team .container {
  flex-direction: column;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f5f4fa;
}

.our-team-list {
  display: flex;
  justify-content: center;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-work-list {
  display: flex;
}
.our-work-item:not(:last-child) {
  margin-right: 30px;
}
.profesion {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}
.footer .address {
  flex-direction: column;
  margin: 0;
}

.footer .container {
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
}
.footer .our-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .logo {
  margin: 0;
}
.footer .logo-web {
  color: #ffffff;
}

                  /*========PORTFOLIO======*/
          
          /*========MENU SECRION=========*/

.menu-section-item {
  display: flex;
}

.menu-btn {
min-width: 84px;
height: 26px;

font-family: var(--firs-font);
font-weight: 500;
font-size: 16px;
line-height: 1.625;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
