:root {
  --accent-color: #2196f3;
  --font-color: #212121;
  --firs-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--firs-font);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.header .container {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 93px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
}

.address-item {
  display: flex;
  align-items: center;
}
.address-item:not(:last-child) {
  margin-right: 50px;
}
.address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.logo-studio {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-web {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.modal-btn {
  margin: auto;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--accent-color);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.hero {
  min-height: 600px;
  width: 1600px;
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 280px;
}
.hero-elements {
  display: block;
}

.first-title {
  width: 696px;
  height: 120px;
  margin: auto;
  font-family: var(--secondary-font);
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.about-us-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-list {
  list-style: none;
  width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us-item {
  margin-right: 10px;
  padding-top: 94px;
  width: 270px;
  height: 101px;
}
.about-us-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: var(--font-color);
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.secondary-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.profesion {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
}
.our-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
